.logo {
    padding-top: 10px !important;
    padding-left: 30px !important;
}

.card {
    padding: 4px !important;
}

.c-body {
    margin: 6px !important;
}

.button {
    width: 100% !important;
    margin-top: 6px !important;
}

.fg {
    margin: 10px !important;
}